body {
    background-color: black;
    color: gold;
    font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table, th, td {
    border: 1px solid dimgray;
    border-collapse: collapse;
    text-align: right;
    padding: 10px;
    font-size: 18px;
}

.champion-table-champ {
    text-align: center;
    padding: 0px;
}

.champion-table {
    margin-left: auto;
    margin-right: auto;
}
