body {
    background-color: #d0e4fe;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-size: 20px;
    margin-left:auto;
    margin-right:auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: right;
    padding: 10px;
}

.champion-table-champ {
    text-align: center;
    padding: 0px;
}

.champion-table {
    margin-left:auto;
    margin-right:auto;
}

